@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section headingText{
    <span>GIỚI THIỆU</span>
}
<div class="col-md-12">
    <h2>Mục đích của đề tài</h2>
    <p>
        Chế tạo một sản phẩm hỗ trợ thay thế việc mượn, trả sách thủ công trước đây ở thư viện trường học
        Hạn chế nguy cơ lây lan dịch bệnh trong quá trình mượn/trả sách.
        Giảm khối lượng công việc của cô thủ thư giúp cô có thời gian làm công việc khác.
        Học sinh có thể đăng ký mượn trả sách trực tuyến, chọn phương thức nhận sách ở thư viện hoặc giao trực tiếp qua dịch vụ shipper
    </p>
</div>
