@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h>Thông tin liên hệ</h>
<address>
    <ul>
        <li>Lê Tuấn Tú, lớp 9/1 Trường THCS Phan Bội Châu, Sơn Trà, Đà Nẵng </li>
        <li>Nguyễn Minh Thư, lớp 8/5 Trường THCS-THPT Nguyễn Khuyến, Hải Châu, Đà Nẵng </li>
    </ul>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Tuấn Tú</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Minh Thư</a>
</address>