@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SmartLibrary.Models.Sach>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
            <a href="~/Home/AddToCart/@item.Id-@item.TenSach">
                <img src="~/Content/assets/books/book01.png" class="img-fluid" alt="">
            </a>
            <div class="member-content">
                <a href="~/Home/AddToCart/@item.Id-@item.TenSach">
                    <span>@item.TenSach</span>
                    <span>Tác giả: @item.Tacgia</span>
                </a>
                    <p>
                        @Html.Raw(HttpUtility.HtmlDecode(item.Tomtat))
                    </p>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
</div>
        </div>
    </div>
}

<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }))
    </div>
</div>