@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section headingText{
    <span>Đăng ký mượn sách thành công</span>
}
<div class="col-12">
    <h3>Đăng ký mượn sách thành công.</h3>
    <h4>Hệ thống sẽ chuyển về trang chủ trong giây lát.</h4>

    <meta http-equiv="refresh" content="5; url=/home">
</div>