
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/test/register" method="post">
    <label>Id: </label><br />
    <input name="id" type="text" /> <br />
    <label>Name: </label><br />
    <input name="name" type="text" /> <br />
    <label>Mark: </label><br />
    <input name="mark" type="number" /> <br />
    <br/>
    <input type="submit" value="Register" />
</form>